
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c9d1d9;
} 


body{
    background-color: #0d1117;
}


.calculator-container{
    width: 400px;
    height: 500px;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-title{
    text-align: center;
    color: #eef4fa;
    font-family: sans-serif;
    margin-top: 6px;
    font-size: 14px;
}

.calculator-input{
    width: 90%;
    height: 70px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-size: 18px;
}
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 87%;
    margin: auto;
    padding: 20px 0;
}

.calculator-button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #21262d;
    color: #fff;
    transition: background 0.2s;
    height: 60px;
    /* width: 80px; BUNU KALDIR - Grid otomatik ayarlasın */
}

.calculator-button:hover {
    background: #30363d;
}

.operator {
    background: #1f6feb;
}

.operator:hover {
    background: #388bfd;
}

.clear {
    grid-column: span 4;
    background: #f85149;
    width: 100%; /* C tuşu için tam genişlik */
}

.clear:hover {
    background: #ff6b6b;
}